<h2>Login</h2>

<% if (session.autoLogout && session.newHour != "undefined") { %>
	<br/><label class="warning">Sesión expirada por inactividad, vuelva a autenticarse</label>
	<% session.autoLogout = false %>
<% } %>

<form method='POST' action='/login'>

	<div class="field">
		<label for="login">Login: </label>
		<input tupe="text" id="login" name="login" size="30" />
	</div>

	<div class="field">
		<label for="password">Password: </label>
		<input type="password" id="password" name="password" size="30" />
	</div>

	<div class="actions">
		<input name="commit" type="submit" value="Login" />
	</div>
</form>